.logo {
	  background-image: url("../images/landing.jpg");
	  background-repeat: no-repeat;
	  padding: 60px;
	  background-size:cover;
}

.logo {
	  text-align: center;
	  text-orientation: center;
}

h1 {
	text-align: center;
	color:white;
	font-family:Times New Roman;
}

h2 {
	text-align: center;
	color:white;
}

strong {
	   color: white;
}

#row1 {
       height:90px;
       background-color:lightgray;          
       font-size: 20px;
       text-align: center;
       padding: 35px;
       width: 290px;
}

#row2 {   
       height:90px;
       font-size: 20px;
       background-color: tomato;
       text-align: center;
       padding:35px;
       color: white;
       width: 290px;           
}

.img1 {
	   background-image: url("../images/breakfast.jpg");
	   height:180px;
	   text-align: center;
	   padding: 85px;
	   font-style: Arial;
	   font-size: 20px;
	   color: white;
}

.img2 {
	  background-image: url("../images/lunch.jpg");
	  height:180px;
	  text-align: center;
	  opacity: 0.5;
	  font-style: Arial;
	  font-size: 20px;
	  padding: 85px;
	  color: white;
}

.img3 {
	  background-image: url("../images/dinner.jpg");
	  height:180px;
	  text-align: center;
	  font-style: Arial;
	  font-size: 20px;
	  padding: 85px;
	  color: white;
	  width: 24.7%

}

.images1 {
	      margin-top:50px;
	      padding-right: 50px;
}

.text2 {
	    direction: rtl;
       
}

.images2 {
	      margin-top:100px;
	      margin-bottom:50px;
}

h3 {
	margin-top:100px;
}

p {
   font-size:20px;
}

h4 {
	font-size:22px;
}

h5 {
	font-size:22px;
	margin-top: 200px;	
} 
.fast-food strong {
	              color: black;
}

h6 {
	font-size: 22px;
}
.delicious-drinks {
	               text-align: right;
}

.delicious-drinks strong {
	                      color: black;
}

.panel {
	   background-image: url("../images/foodsBg.jpg");
	   width: auto;
	   height: 468px;
	   background-repeat: no-repeat;
}

.panel-body {
	         background-color: white;
	         padding: 60px;
	         margin: 69px;
}

.nav-tabs{
	      border-bottom: 0px;
}

.nav {
	 padding-left: 69px;
	 margin-bottom: -71px;
}

.customers {
	        color: #f46842;
	        text-align: center;
}

.customers strong {
	              color: #f46842;
	              text-align: center;
}

.about {
	    text-align: center;
}

.about strong{
	         color: #f46842;
	         text-align: center;
}

.images3 {
	      padding: 50px;
	      float: 50px;
}

.btn_subscribe {
	          border-style:none;
	          background-color:#F15A29;
	          padding:3px;
	          border-radius:5px;
}
	            
.pad {
	 background-image: url("../images/subscribe.jpg");
	 padding:5%;
	 font-size:1.4em;
}

.food {
	   text-align: center;
	   padding-top: 20px;
}

.mail {
	  margin-top:10%;
	  margin-left:auto;
	  margin-right:auto;
	  width:40%;
}

.trans {
	   border:1px solid white;
	   background:rgb(0,0,0,0);
	   color:white;
}

h6 {
	text-align: center;
}

.pad1 {
	    background-color: #F15A29;
}

.logo-white {
	         text-align: center;
	         padding: 100px;
	         font-size: 40PX;
}

a {
   color: white;
}

.images4 {
	      background-color: #F15A29;
}

/*von\s css*/