.logo {
	  background-image: url("../images/landing.jpg");
	  height:450px;
}

.logo {
	  text-align: center;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

#happyhour {
	        background-color:lightgray;
	        height:90px;
	        width:280px;
}

#partytime {
	        background-color:tomato;
	        height:90px;
	        width:280px;

}
.img1 {
	   background-image: url("../images/breakfast.jpg");
	   height:180px;
	   width: 280px;
	   text-align: center;
}

.img2 {
	  background-image: url("../images/lunch.jpg");
	  height:180px;
	  width:290px;
	  text-align: center;
}

.img3 {
	  background-image: url("../images/dinner.jpg");
	  height:180px;
	  width:285px;
	  text-align: center;
}

