.logo {
	  background-image: url("../images/landing.jpg");
	  background-repeat: no-repeat;
	  height:580px;

}

.logo {
	  text-align: center;
	  text-orientation: center;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

#happyhour {
           background-color:lightgray;
           height:90px;
           width:280px;
           padding:35px;
           text-align: center;
           font-size: 20px;
}

#partytime {
	       background-color:tomato;
           height:90px;
           width:280px;
           padding: 35px;
           text-align: center;
           font-size: 20px;
           color:white;
}

.img1 {
	   background-image: url("../images/breakfast.jpg");
	   height:180px;
	   width: 280px;
	   text-align: center;
	   padding: 85px;
	   font-style: Arial;
	   font-size: 20px;
}

.img2 {
	  background-image: url("../images/lunch.jpg");
	  height:180px;
	  width:290px;
	  text-align: center;
	  opacity: 0.5;
	  font-style: Arial;
	  font-size: 20px;
	  padding: 85px;
}

.img3 {
	  background-image: url("../images/dinner.jpg");
	  height:180px;
	  width:285px;
	  text-align: center;
	  font-style: Arial;
	  font-size: 20px;
	  padding: 85px;
}

